.App {
  text-align: center;
}

.App-header {
  background-color: #0c2569;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 250px;
}


.Images {
  background-color: #0c2569;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 403px;

}
img {
  width: 400px;
  height: 400px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5%;
  margin: 30px;
  cursor: pointer
}

.button {
  background-color: #043d72; 
  border: white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: White; 
  color: rgb(0, 0, 0);
}

.App-footer {
  background-color: #0c2569;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
  position: absolute;
        top: 653px;
        bottom: 0px;
        width: 100%;
        
}



